* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

body {
    background-color: skyblue;
    font-family: sans-serif;
}
p {
    margin-top: 10px;
    background-color: white;
    width: 300px;
    padding: 5px;
}